<a href="https://colab.research.google.com/github/zaphod9801/Trabajo3Telematica/blob/main/Trabajo3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#configuración en google colab de spark y pyspark
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
#instalar java y spark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = spark.sparkContext

In [5]:
spark

In [6]:
sc

In [7]:

# Load csv Dataset 
#
# desde los datos ejemplo que trae google colab:
#
# df=spark.read.csv('sample_data/california_housing_test.csv',inferSchema=True,header=True)
#
# desde su carpeta del trabajo3 en google drive
#
df=spark.read.csv('gdrive/MyDrive/st0263trabajo3/Casos_positivos_de_COVID-19_en_Colombia.csv',inferSchema=True,header=True)
#
# desde S3
#
# df=spark.read.csv('s3://bucket_name/datasets/sample_data.csv',inferSchema=True,header=True)

In [11]:
df.columns

['fecha reporte web',
 'ID de caso',
 'Fecha de notificación',
 'Código DIVIPOLA departamento',
 'Nombre departamento',
 'Código DIVIPOLA municipio',
 'Nombre municipio',
 'Edad',
 'Unidad de medida de edad',
 'Sexo',
 'Tipo de contagio',
 'Ubicación del caso',
 'Estado',
 'Código ISO del país',
 'Nombre del país',
 'Recuperado',
 'Fecha de inicio de síntomas',
 'Fecha de muerte',
 'Fecha de diagnóstico',
 'Fecha de recuperación',
 'Tipo de recuperación',
 'Pertenencia étnica',
 'Nombre del grupo étnico']

In [9]:
df.printSchema()

root
 |-- fecha reporte web: string (nullable = true)
 |-- ID de caso: integer (nullable = true)
 |-- Fecha de notificación: string (nullable = true)
 |-- Código DIVIPOLA departamento: integer (nullable = true)
 |-- Nombre departamento: string (nullable = true)
 |-- Código DIVIPOLA municipio: integer (nullable = true)
 |-- Nombre municipio: string (nullable = true)
 |-- Edad: integer (nullable = true)
 |-- Unidad de medida de edad: integer (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Tipo de contagio: string (nullable = true)
 |-- Ubicación del caso: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Código ISO del país: integer (nullable = true)
 |-- Nombre del país: string (nullable = true)
 |-- Recuperado: string (nullable = true)
 |-- Fecha de inicio de síntomas: string (nullable = true)
 |-- Fecha de muerte: string (nullable = true)
 |-- Fecha de diagnóstico: string (nullable = true)
 |-- Fecha de recuperación: string (nullable = true)
 |-- Tipo de recuperación: string (nullable = true)
 |-- Pertenencia étnica: integer (nullable = true)
 |-- Nombre del grupo étnico: string (nullable = true)

In [14]:
df.select('ID de caso','Nombre municipio','Edad','Sexo').show(10)

+----------+----------------+----+----+
|ID de caso|Nombre municipio|Edad|Sexo|
+----------+----------------+----+----+
|   2265685|          BOGOTA|  49|   M|
|   2265686|          BOGOTA|  49|   M|
|   2265687|          BOGOTA|  51|   F|
|   2265688|          BOGOTA|  51|   F|
|   2265689|          BOGOTA|  51|   F|
|   2265690|          BOGOTA|  52|   F|
|   1851419|          CUMBAL|  24|   M|
|   1851420|          CUMBAL|  24|   M|
|   1851421|       GUACHUCAL|  33|   M|
|   1851422|         LA CRUZ|  35|   F|
+----------+----------------+----+----+
only showing top 10 rows

In [15]:

df.withColumnRenamed("Nombre del grupo étnico","Nombre etnia").printSchema()

root
 |-- fecha reporte web: string (nullable = true)
 |-- ID de caso: integer (nullable = true)
 |-- Fecha de notificación: string (nullable = true)
 |-- Código DIVIPOLA departamento: integer (nullable = true)
 |-- Nombre departamento: string (nullable = true)
 |-- Código DIVIPOLA municipio: integer (nullable = true)
 |-- Nombre municipio: string (nullable = true)
 |-- Edad: integer (nullable = true)
 |-- Unidad de medida de edad: integer (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Tipo de contagio: string (nullable = true)
 |-- Ubicación del caso: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Código ISO del país: integer (nullable = true)
 |-- Nombre del país: string (nullable = true)
 |-- Recuperado: string (nullable = true)
 |-- Fecha de inicio de síntomas: string (nullable = true)
 |-- Fecha de muerte: string (nullable = true)
 |-- Fecha de diagnóstico: string (nullable = true)
 |-- Fecha de recuperación: string (nullable = true)
 |-- Tipo de recuperación: string (nullable = true)
 |-- Pertenencia étnica: integer (nullable = true)
 |-- Nombre etnia: string (nullable = true)

In [17]:
from pyspark.sql.functions import lit
df.withColumn("newColumn", lit("this is a value")).show(10)

+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+---------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+---------------+
|  fecha reporte web|ID de caso|Fecha de notificación|Código DIVIPOLA departamento|Nombre departamento|Código DIVIPOLA municipio|Nombre municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación del caso|Estado|Código ISO del país|Nombre del país|Recuperado|Fecha de inicio de síntomas|Fecha de muerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|Pertenencia étnica|Nombre del grupo étnico|      newColumn|
+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+---------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+---------------+
|2021-03-04 00:00:00|   2265685|  2021-03-02 00:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  49|                       1|   M|     Comunitaria|              Casa|  Leve|               null|           null|Recuperado|        2021-02-25 00:00:00|           null| 2021-03-03 00:00:00|  2021-03-16 00:00:00|              Tiempo|                 6|                   null|this is a value|
|2021-03-04 00:00:00|   2265686|  2021-03-02 00:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  49|                       1|   M|     Relacionado|              Casa|  Leve|               null|           null|Recuperado|        2021-02-23 00:00:00|           null| 2021-03-03 00:00:00|  2021-03-16 00:00:00|              Tiempo|                 6|                   null|this is a value|
|2021-03-04 00:00:00|   2265687|  2021-03-02 00:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  51|                       1|   F|     Comunitaria|              Casa|  Leve|               null|           null|Recuperado|        2021-02-24 00:00:00|           null| 2021-03-03 00:00:00|  2021-03-16 00:00:00|              Tiempo|                 6|                   null|this is a value|
|2021-03-04 00:00:00|   2265688|  2021-03-02 00:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  51|                       1|   F|     Relacionado|              Casa|  Leve|               null|           null|Recuperado|        2021-02-27 00:00:00|           null| 2021-03-03 00:00:00|  2021-03-13 00:00:00|              Tiempo|                 6|                   null|this is a value|
|2021-03-04 00:00:00|   2265689|  2021-03-02 00:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  51|                       1|   F|     Comunitaria|              Casa|  Leve|               null|           null|Recuperado|        2021-03-01 00:00:00|           null| 2021-03-03 00:00:00|  2021-03-16 00:00:00|              Tiempo|                 6|                   null|this is a value|
|2021-03-04 00:00:00|   2265690|  2021-03-02 00:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  52|                       1|   F|     Relacionado|              Casa|  Leve|               null|           null|Recuperado|        2021-02-26 00:00:00|           null| 2021-03-03 00:00:00|  2021-03-16 00:00:00|              Tiempo|                 6|                   null|this is a value|
|2021-01-15 00:00:00|   1851419|  2021-01-12 00:00:00|                          52|             NARIÑO|                    52227|          CUMBAL|  24|                       1|   M|     Relacionado|              Casa|  Leve|               null|           null|Recuperado|        2021-01-08 00:00:00|           null| 2021-01-14 00:00:00|  2021-01-26 00:00:00|              Tiempo|                 1|                  PASTO|this is a value|
|2021-01-15 00:00:00|   1851420|  2021-01-11 00:00:00|                          52|             NARIÑO|                    52227|          CUMBAL|  24|                       1|   M|     Comunitaria|              Casa|  Leve|               null|           null|Recuperado|        2021-01-08 00:00:00|           null| 2021-01-13 00:00:00|  2021-01-26 00:00:00|              Tiempo|                 1|            Por definir|this is a value|
|2021-01-15 00:00:00|   1851421|  2021-01-12 00:00:00|                          52|             NARIÑO|                    52317|       GUACHUCAL|  33|                       1|   M|     Relacionado|              Casa|  Leve|               null|           null|Recuperado|        2021-01-08 00:00:00|           null| 2021-01-13 00:00:00|  2021-01-26 00:00:00|              Tiempo|                 1|            Por definir|this is a value|
|2021-01-15 00:00:00|   1851422|  2021-01-12 00:00:00|                          52|             NARIÑO|                    52378|         LA CRUZ|  35|                       1|   F|     Comunitaria|              Casa|  Leve|               null|           null|Recuperado|        2021-01-08 00:00:00|           null| 2021-01-12 00:00:00|  2021-01-26 00:00:00|              Tiempo|                 6|                   null|this is a value|
+-------------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+---------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+---------------+
only showing top 10 rows

In [19]:
df.drop("newColumn").printSchema()

root
 |-- fecha reporte web: string (nullable = true)
 |-- ID de caso: integer (nullable = true)
 |-- Fecha de notificación: string (nullable = true)
 |-- Código DIVIPOLA departamento: integer (nullable = true)
 |-- Nombre departamento: string (nullable = true)
 |-- Código DIVIPOLA municipio: integer (nullable = true)
 |-- Nombre municipio: string (nullable = true)
 |-- Edad: integer (nullable = true)
 |-- Unidad de medida de edad: integer (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Tipo de contagio: string (nullable = true)
 |-- Ubicación del caso: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Código ISO del país: integer (nullable = true)
 |-- Nombre del país: string (nullable = true)
 |-- Recuperado: string (nullable = true)
 |-- Fecha de inicio de síntomas: string (nullable = true)
 |-- Fecha de muerte: string (nullable = true)
 |-- Fecha de diagnóstico: string (nullable = true)
 |-- Fecha de recuperación: string (nullable = true)
 |-- Tipo de recuperación: string (nullable = true)
 |-- Pertenencia étnica: integer (nullable = true)
 |-- Nombre del grupo étnico: string (nullable = true)

In [22]:
df.filter(df['Nombre municipio']=='CUMBAL').select('ID de caso','Nombre municipio','Edad','Sexo').show(10)

+----------+----------------+----+----+
|ID de caso|Nombre municipio|Edad|Sexo|
+----------+----------------+----+----+
|   1851419|          CUMBAL|  24|   M|
|   1851420|          CUMBAL|  24|   M|
|    964420|          CUMBAL|  80|   F|
|   1849961|          CUMBAL|  94|   F|
|   1849985|          CUMBAL|  64|   F|
|   1852244|          CUMBAL|  36|   M|
|   2055895|          CUMBAL|  59|   M|
|   1850626|          CUMBAL|  26|   F|
|   1850716|          CUMBAL|  33|   M|
|   1850717|          CUMBAL|  32|   F|
+----------+----------------+----+----+
only showing top 10 rows

In [28]:
# UDF
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
#normal function 
def mayorDeEdad(edad):
    if edad >= 18:
        return 'Mayor de edad'
    else:
        return 'Menor de edad'

#create udf using python function
edad_udf=udf(mayorDeEdad,StringType())
#apply udf on dataframe
df.withColumn('Mayor de edad?',edad_udf(df['Edad'])).select('ID de caso','Nombre municipio','Edad','Sexo', 'Mayor de edad?').show(10,False)

+----------+----------------+----+----+--------------+
|ID de caso|Nombre municipio|Edad|Sexo|Mayor de edad?|
+----------+----------------+----+----+--------------+
|2265685   |BOGOTA          |49  |M   |Mayor de edad |
|2265686   |BOGOTA          |49  |M   |Mayor de edad |
|2265687   |BOGOTA          |51  |F   |Mayor de edad |
|2265688   |BOGOTA          |51  |F   |Mayor de edad |
|2265689   |BOGOTA          |51  |F   |Mayor de edad |
|2265690   |BOGOTA          |52  |F   |Mayor de edad |
|1851419   |CUMBAL          |24  |M   |Mayor de edad |
|1851420   |CUMBAL          |24  |M   |Mayor de edad |
|1851421   |GUACHUCAL       |33  |M   |Mayor de edad |
|1851422   |LA CRUZ         |35  |F   |Mayor de edad |
+----------+----------------+----+----+--------------+
only showing top 10 rows

In [58]:
data = df.groupBy('Nombre departamento').count().orderBy('count',ascending=False)
write_uri='gdrive/MyDrive/st0263trabajo3/outputs/3.1'
data.coalesce(1).write.format("csv").option("header","true").save(write_uri)

In [59]:
data = df.groupBy('Nombre municipio').count().orderBy('count',ascending=False)
write_uri='gdrive/MyDrive/st0263trabajo3/outputs/3.2'
data.coalesce(1).write.format("csv").option("header","true").save(write_uri)

In [60]:
data = df.groupBy('Fecha de diagnóstico').count().orderBy('count',ascending=False)
write_uri='gdrive/MyDrive/st0263trabajo3/outputs/3.3'
data.coalesce(1).write.format("csv").option("header","true").save(write_uri)

In [61]:
data = df.groupBy('Edad').count().orderBy('count',ascending=False)
write_uri='gdrive/MyDrive/st0263trabajo3/outputs/3.4'
data.coalesce(1).write.format("csv").option("header","true").save(write_uri)

In [63]:
from pyspark.sql.functions import to_date, to_timestamp, month

df.withColumn("Fecha de diagnóstico",to_date(to_timestamp("Fecha de diagnóstico")))
data = df.groupBy(month('Fecha de diagnóstico').alias('mes')).count().orderBy('count',ascending=False)
write_uri='gdrive/MyDrive/st0263trabajo3/outputs/3.5'
data.coalesce(1).write.format("csv").option("header","true").save(write_uri)

In [41]:
muertos = df.filter(df['Fecha de muerte'] != 'null').count()
total = df.count()
porcentajeDefuncion = str(round((muertos/total)*100,2))+"%"
porcentajeDefuncion

'2.77%'